@import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu);

html body {
  padding: 0;
  margin: 0;
}

#title {
  color: #536DFE;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 50%;
  float: left;
}

.divider {
  width: 13em;
  float: left;
  margin-left: 30px;
  border-bottom: 3px #536DFE solid;
}

.content {
  float: left;
  display: block;
  max-width: 40em;
  padding: 3.3em 15vw 0 2em;
}

p {
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: .79em;
  letter-spacing: 2px;
  line-height: 1.2em;
  color: #494949;
}

.text {
  padding-top: 2px;
}

p.links a {
  padding-right: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-size: .6em;
  color: #222;
  text-decoration: none;
}

a {
  color: #222;
}

a:visited {
  color: #222
}  /* unvisited links */

a:hover {
  color: #536DFE
}  /* user hovers     */

p.links a:visited {
  color: #222
}  /* unvisited links */

p.links a:hover {
  color: #536DFE
}  /* user hovers     */

.icon {
  height: 50px;
  width: 50px;
}

img:hover {
  opacity: .5;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
