/* ------------------- MEDIA QUERIES ------------------- */

/* ----------- iPhone 6+ ----------- */

/*6+ Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #title {
      font-size: 10pt;
      line-height: 30px;
    }

    .text {

    }

    .content {
      max-width: 9em;
      padding: 1em;
    }

    .divider {
      width: 110px;
      margin: auto;
    }

    .links {
        max-width: 1em;
        display: auto;
    }
}

/*6+ Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/*6 Portrait*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/*6 Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/*5/5s Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #title {
      font-size: 10pt;
      line-height: 30px;
    }

    .content {
      max-width: 9em;
      padding: 1em;
    }

    .divider {
      width: 110px;
      margin: auto;
    }

    .links {
        display: list-item;
        line-height: 10px;
        font-size: 10px;
    }

    .links a {
      color: #536DFE;
    }
}

/*5/5s Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPad mini ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}
