@media (max-width: 320px){
  .content {
    padding: .6em 0 0 .4em;
  }

  h1 {
    font-size: 1.3em;
  }

  .divider {
      width: 9em;
      margin-left: 10px
  }

  p {
    font-size: .5em;
  }

  p.links a  {
    font-size: .5em;
    padding-right: 25px;
  }
}

@media (max-width: 470px){
  .content {
    padding: .6em 0 0 .4em;
  }

  h1 {
    font-size: 1.8em;
  }

  .divider {
      width: 10.5em;
  }
}

@media (max-width: 530px){
  .content {
    padding: 1em 0 0 .5em;
    justify-content: center;
  }

  p.links a  {
    font-size: .65em;
    padding-right: 5px;
  }
}

@media (max-width: 400px){
  p {
    font-size: .98em;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 1.25em;
    }

    .content {
      max-width: 365px;
    }

    p {
      font-size: .8em;
    }

    p.links a {
      font-size: .55em;
      padding-right: 5px;
    }

    .divider {
      width: 9em;
    }
    .content {
      padding-top: .2em;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 1.55em;
      max-width: 365px;
    }
    .divider {
        width: 9em;
    }

    p.links a {
      font-size: .65em;
      padding-right: 5px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}
