@media (max-width: 325px){
  .content {
    padding: .6em 0 0 .4em;
  }

  h1 {
    font-size: 1.3em;
  }

  p {
    font-size: .5em;
  }

  p.links a  {
    font-size: .5em;
    padding-right: 30px;
  }
}

@media (max-width: 470px){
  .content {
    padding: .6em 0 0 .4em;
  }

  h1 {
    font-size: 2em;
  }

  #title {
    line-height: normal;
  }
}

@media (max-width: 530px){
  .content {
    padding: 1em 0 0 .5em;
    justify-content: center;
  }

  p.links a  {
    font-size: .65em;
    padding-right: 30px;
  }
}

@media (max-width: 400px){
  p {
    font-size: .8em;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 1.8em;
    }

    .content {
      max-width: 365px;
    }

    p {
      font-size: .8em;
    }

    p.links a {
      font-size: .55em;
      padding-right: 10px;
    }

    .content {
      padding-top: .2em;
  }

    .icon {
      height: 45px;
      width: 45px;
    }

    .footer{

    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 1.50em;
    }

    p.links a {
      font-size: .65em;
      padding-right: 10px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}
